Source: xpadneo-dkms
Section: kernel
Priority: extra
Maintainer: xiangzelong <xiangzelong@deepin.org>
Build-Depends: debhelper-compat (= 13),
               dkms,
               dh-dkms,
Standards-Version: 4.6.2
Homepage: https://github.com/atar-axis/xpadneo

Package: xpadneo-dkms
Architecture: any
Depends: ${misc:Depends}, dkms
Description: Advanced Linux Driver for Xbox One Wireless Controller (shipped with Xbox One S)
